<mat-toolbar color="primary">
  <span>OMDb</span>
  <span fxFlex="auto"></span>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <span>{{ user?.name }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navigation menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="main-container">
  <router-outlet></router-outlet>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>favorite</mat-icon>
    <span>Favorites</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
