<mat-form-field class="search-field">
  <mat-label>Title</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<button mat-raised-button color="primary" (click)="search()">Search</button>

<div fxLayout="row wrap" fxLayoutGap="20px" class="results-container">
  <app-search-result-card *ngFor="let item of results" [item]="item"></app-search-result-card>
</div>