.favorites-container {
  padding-top: 40px;
  .back-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .favorites-title {
    font-size: 24px;
    color: #4d5055;
  }
  .favorites-list-container {
    margin-top: 30px;
  }
}